USE [ReportCYData_Prod]
GO
/****** Object:  Table [dbo].[Goals_Dosage]    Script Date: 12/1/2016 9:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals_Dosage](
	[ID] [float] NULL,
	[cyschSchoolRefID] [nvarchar](255) NULL,
	[SchoolName] [nvarchar](255) NULL,
	[SCM] [float] NULL,
	[CM] [float] NULL,
	[SCMCMsW_FLs] [float] NULL,
	[ELA_CMwFL] [float] NULL,
	[ELA_Cycles] [float] NULL,
	[ELA_MinFL] [float] NULL,
	[ELA_MaxFL] [float] NULL,
	[ELA_FinalEnrollGoal] [float] NULL,
	[MTH_CMwFL] [float] NULL,
	[MTH_Cycles] [float] NULL,
	[MTH_MinFL] [float] NULL,
	[MTH_MaxFL] [float] NULL,
	[MTH_FinalEnrollGoal] [float] NULL,
	[ATT_CMwFL] [float] NULL,
	[ATT_Cycles] [float] NULL,
	[ATT_MinFL] [float] NULL,
	[ATT_MaxFL] [float] NULL,
	[ATT_FinalEnrollGoal] [float] NULL,
	[BEH_CMwFL] [nvarchar](255) NULL,
	[BEH_Cycles] [nvarchar](255) NULL,
	[BEH_MinFL] [float] NULL,
	[BEH_MaxFL] [float] NULL,
	[BEH_FinalEnrollGoal] [float] NULL,
	[Q1_ELA_EnrollGoalPerc] [float] NULL,
	[Q1_MTH_EnrollGoalPerc] [float] NULL,
	[Q1_ATT_EnrollGoalPerc] [float] NULL,
	[Q1_BEH_EnrollGoalPerc] [float] NULL,
	[Q2_ELA_EnrollGoalPerc] [float] NULL,
	[Q2_MTH_EnrollGoalPerc] [float] NULL,
	[Q2_ATT_EnrollGoalPerc] [float] NULL,
	[Q2_BEH_EnrollGoalPerc] [float] NULL,
	[Q3_ELA_EnrollGoalPerc] [float] NULL,
	[Q3_MTH_EnrollGoalPerc] [float] NULL,
	[Q3_ATT_EnrollGoalPerc] [float] NULL,
	[Q3_BEH_EnrollGoalPerc] [float] NULL,
	[AUG_ELA_DosageGoal] [float] NULL,
	[SEP_ELA_DosageGoal] [float] NULL,
	[OCT_ELA_DosageGoal] [float] NULL,
	[NOV_ELA_DosageGoal] [float] NULL,
	[DEC_ELA_DosageGoal] [float] NULL,
	[JAN_ELA_DosageGoal] [float] NULL,
	[FEB_ELA_DosageGoal] [float] NULL,
	[MAR_ELA_DosageGoal] [float] NULL,
	[APR_ELA_DosageGoal] [float] NULL,
	[MAY_ELA_DosageGoal] [float] NULL,
	[JUN_ELA_DosageGoal] [float] NULL,
	[AUG_MTH_DosageGoal] [float] NULL,
	[SEP_MTH_DosageGoal] [float] NULL,
	[OCT_MTH_DosageGoal] [float] NULL,
	[NOV_MTH_DosageGoal] [float] NULL,
	[DEC_MTH_DosageGoal] [float] NULL,
	[JAN_MTH_DosageGoal] [float] NULL,
	[FEB_MTH_DosageGoal] [float] NULL,
	[MAR_MTH_DosageGoal] [float] NULL,
	[APR_MTH_DosageGoal] [float] NULL,
	[MAY_MTH_DosageGoal] [float] NULL,
	[JUN_MTH_DosageGoal] [float] NULL,
	[SiteName] [nvarchar](255) NULL,
	[Q1_ELA_EnrollGoal] [float] NULL,
	[Q1_MTH_EnrollGoal] [float] NULL,
	[Q1_ATT_EnrollGoal] [float] NULL,
	[Q1_BEH_EnrollGoal] [nvarchar](255) NULL,
	[Q2_ELA_EnrollGoal] [float] NULL,
	[Q2_MTH_EnrollGoal] [float] NULL,
	[Q2_ATT_EnrollGoal] [float] NULL,
	[Q2_BEH_EnrollGoal] [nvarchar](255) NULL,
	[Q3_ELA_EnrollGoal] [float] NULL,
	[Q3_MTH_EnrollGoal] [float] NULL,
	[Q3_ATT_EnrollGoal] [float] NULL,
	[Q3_BEH_EnrollGoal] [nvarchar](255) NULL,
	[AUG_ELA_DosageGoal_Minutes] [nvarchar](255) NULL,
	[SEP_ELA_DosageGoal_Minutes] [float] NULL,
	[OCT_ELA_DosageGoal_Minutes] [float] NULL,
	[NOV_ELA_DosageGoal_Minutes] [float] NULL,
	[DEC_ELA_DosageGoal_Minutes] [float] NULL,
	[JAN_ELA_DosageGoal_Minutes] [float] NULL,
	[FEB_ELA_DosageGoal_Minutes] [float] NULL,
	[MAR_ELA_DosageGoal_Minutes] [float] NULL,
	[APR_ELA_DosageGoal_Minutes] [float] NULL,
	[MAY_ELA_DosageGoal_Minutes] [float] NULL,
	[JUN_ELA_DosageGoal_Minutes] [float] NULL,
	[AUG_MTH_DosageGoal_Minutes] [nvarchar](255) NULL,
	[SEP_MTH_DosageGoal_Minutes] [float] NULL,
	[OCT_MTH_DosageGoal_Minutes] [float] NULL,
	[NOV_MTH_DosageGoal_Minutes] [float] NULL,
	[DEC_MTH_DosageGoal_Minutes] [float] NULL,
	[JAN_MTH_DosageGoal_Minutes] [float] NULL,
	[FEB_MTH_DosageGoal_Minutes] [float] NULL,
	[MAR_MTH_DosageGoal_Minutes] [float] NULL,
	[APR_MTH_DosageGoal_Minutes] [float] NULL,
	[MAY_MTH_DosageGoal_Minutes] [float] NULL,
	[JUN_MTH_DosageGoal_Minutes] [float] NULL
) ON [PRIMARY]

GO
