USE [ReportCYData_Prod]
GO
/****** Object:  Table [dbo].[2_RPT_SCHOOL_MAIN]    Script Date: 12/1/2016 9:27:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2_RPT_SCHOOL_MAIN](
	[SCHOOL_ID] [int] NOT NULL,
	[CYCHANNEL_SCHOOL_ACCOUNT_NBR] [varchar](100) NULL,
	[SCHOOL_NAME] [varchar](100) NULL,
	[REGION_NAME] [varchar](100) NULL,
	[SITE_NAME] [varchar](100) NULL,
	[DIPLOMAS_NOW_SCHOOL] [varchar](15) NULL,
	[SCM] [varchar](250) NULL,
	[CM] [varchar](250) NULL,
	[SCMCMsW_FLs] [float] NULL,
	[ELA_CMwFL] [float] NULL,
	[WSWC_ELA_39_EnrollGoal] [float] NULL,
	[ELA_out39_Enroll] [float] NULL,
	[ELA_All_Enroll] [float] NULL,
	[MTH_CMwFL] [float] NULL,
	[WSWC_MTH_39_EnrollGoal] [float] NULL,
	[MTH_out39_Enroll] [float] NULL,
	[MTH_All_Enroll] [float] NULL,
	[ATT_CMwFL] [float] NULL,
	[WSWC_ATT_39_EnrollGoal] [float] NULL,
	[ATT_out39_enroll] [float] NULL,
	[ATT_All_Enroll] [float] NULL,
	[BEH_CMwFL] [float] NULL,
	[WSWC_BEH_39_EnrollGoal] [float] NULL,
	[BEH_out39_Enroll] [float] NULL,
	[BEH_All_Enroll] [float] NULL,
	[Q1_ELA_EnrollGoalPerc] [float] NULL,
	[Q1_MTH_EnrollGoalPerc] [float] NULL,
	[Q1_ATT_EnrollGoalPerc] [float] NULL,
	[Q1_BEH_EnrollGoalPerc] [float] NULL,
	[Q2_ELA_EnrollGoalPerc] [float] NULL,
	[Q2_MTH_EnrollGoalPerc] [float] NULL,
	[Q2_ATT_EnrollGoalPerc] [float] NULL,
	[Q2_BEH_EnrollGoalPerc] [float] NULL,
	[Q3_ELA_EnrollGoalPerc] [float] NULL,
	[Q3_MTH_EnrollGoalPerc] [float] NULL,
	[Q3_ATT_EnrollGoalPerc] [float] NULL,
	[Q3_BEH_EnrollGoalPerc] [float] NULL,
	[AUG_ELA_DosageGoal] [float] NULL,
	[SEP_ELA_DosageGoal] [float] NULL,
	[OCT_ELA_DosageGoal] [float] NULL,
	[NOV_ELA_DosageGoal] [float] NULL,
	[DEC_ELA_DosageGoal] [float] NULL,
	[JAN_ELA_DosageGoal] [float] NULL,
	[FEB_ELA_DosageGoal] [float] NULL,
	[MAR_ELA_DosageGoal] [float] NULL,
	[APR_ELA_DosageGoal] [float] NULL,
	[MAY_ELA_DosageGoal] [float] NULL,
	[JUN_ELA_DosageGoal] [float] NULL,
	[AUG_MTH_DosageGoal] [float] NULL,
	[SEP_MTH_DosageGoal] [float] NULL,
	[OCT_MTH_DosageGoal] [float] NULL,
	[NOV_MTH_DosageGoal] [float] NULL,
	[DEC_MTH_DosageGoal] [float] NULL,
	[JAN_MTH_DosageGoal] [float] NULL,
	[FEB_MTH_DosageGoal] [float] NULL,
	[MAR_MTH_DosageGoal] [float] NULL,
	[APR_MTH_DosageGoal] [float] NULL,
	[MAY_MTH_DosageGoal] [float] NULL,
	[JUN_MTH_DosageGoal] [float] NULL,
	[Q1_ELA_EnrollGoal] [float] NULL,
	[Q2_ELA_EnrollGoal] [float] NULL,
	[Q3_ELA_EnrollGoal] [float] NULL,
	[AUG_ELA_DosageGoal_Minutes] [float] NULL,
	[SEP_ELA_DosageGoal_Minutes] [float] NULL,
	[OCT_ELA_DosageGoal_Minutes] [float] NULL,
	[NOV_ELA_DosageGoal_Minutes] [float] NULL,
	[DEC_ELA_DosageGoal_Minutes] [float] NULL,
	[JAN_ELA_DosageGoal_Minutes] [float] NULL,
	[FEB_ELA_DosageGoal_Minutes] [float] NULL,
	[MAR_ELA_DosageGoal_Minutes] [float] NULL,
	[APR_ELA_DosageGoal_Minutes] [float] NULL,
	[MAY_ELA_DosageGoal_Minutes] [float] NULL,
	[JUN_ELA_DosageGoal_Minutes] [float] NULL,
	[AUG_MTH_DosageGoal_Minutes] [float] NULL,
	[SEP_MTH_DosageGoal_Minutes] [float] NULL,
	[OCT_MTH_DosageGoal_Minutes] [float] NULL,
	[NOV_MTH_DosageGoal_Minutes] [float] NULL,
	[DEC_MTH_DosageGoal_Minutes] [float] NULL,
	[JAN_MTH_DosageGoal_Minutes] [float] NULL,
	[FEB_MTH_DosageGoal_Minutes] [float] NULL,
	[MAR_MTH_DosageGoal_Minutes] [float] NULL,
	[APR_MTH_DosageGoal_Minutes] [float] NULL,
	[MAY_MTH_DosageGoal_Minutes] [float] NULL,
	[JUN_MTH_DosageGoal_Minutes] [float] NULL,
	[CY_SCHOOLHOUSE_SCHOOL_ID] [varchar](30) NULL,
	[CY_CHANNEL_ID] [varchar](100) NULL,
	[CY_CHANNEL_SF_ID] [varchar](100) NULL,
	[FISCAL_YEAR] [varchar](50) NOT NULL,
	[GrantCategory] [varchar](250) NULL,
	[GrantSiteNum] [varchar](250) NULL,
	[GrantSite] [varchar](250) NULL,
	[GrantSite_GR] [varchar](250) NULL,
	[ACREPORTLIT] [varchar](50) NULL,
	[ACREPORTMTH] [varchar](50) NULL,
	[ACREPORTATT] [varchar](50) NULL,
	[ACREPORTBEH] [varchar](50) NULL,
	[ED1_ACAD_GOAL] [varchar](50) NULL,
	[ED2_ACAD_GOAL] [varchar](50) NULL,
	[ED5_ACAD_GOAL] [varchar](50) NULL,
	[ED1_ENGAGE_GOAL] [varchar](50) NULL,
	[ED2_ENGAGE_GOAL] [varchar](50) NULL,
	[ED27B_ENGAGE_GOAL] [varchar](50) NULL,
	[AC_SEL_OUPUT1_GOAL] [varchar](50) NULL,
	[AC_SEL_OUTPUT2_GOAL] [varchar](50) NULL,
	[AC_SELOUTCOME_GOAL] [varchar](50) NULL,
	[Q1_MTH_EnrollGoal] [float] NULL,
	[Q2_MTH_EnrollGoal] [float] NULL,
	[Q3_MTH_EnrollGoal] [float] NULL,
	[Q1_BEH_EnrollGoal] [float] NULL,
	[Q2_BEH_EnrollGoal] [float] NULL,
	[Q3_BEH_EnrollGoal] [float] NULL,
	[Q1_ATT_EnrollGoal] [float] NULL,
	[Q2_ATT_EnrollGoal] [float] NULL,
	[Q3_ATT_EnrollGoal] [float] NULL,
	[TeamNumber] [varchar](50) NULL,
	[TeamName] [varchar](250) NULL
) ON [PRIMARY]

GO
