USE [ReportCYData_Prod]
GO
/****** Object:  StoredProcedure [dbo].[sp_Load_9_RPT_PERFORMANCE_LEVEL_ALL]    Script Date: 12/1/2016 9:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[sp_Load_9_RPT_PERFORMANCE_LEVEL_ALL]
AS
BEGIN



-----------------------------------------------------------------------------------------------------------------
--TRUNCATE AND INSERT TO TABLE 9_RPT_PERFORMANCE_LEVEL_ALL
-----------------------------------------------------------------------------------------------------------------
	
	TRUNCATE TABLE [dbo].[9_RPT_PERFORMANCE_LEVEL_ALL]

	INSERT INTO [dbo].[9_RPT_PERFORMANCE_LEVEL_ALL] 
	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM [9_RPT_PERFORMANCE_LEVEL_AS] 

	UNION

	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM [9_RPT_PERFORMANCE_LEVEL_AT]

	UNION 

	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM [9_RPT_PERFORMANCE_LEVEL_BH]

	UNION

	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM [9_RPT_PERFORMANCE_LEVEL_CG]

	UNION

	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM [9_RPT_PERFORMANCE_LEVEL_SB]

	
END





GO
