USE [ReportCYData_Prod]
GO
/****** Object:  Table [dbo].[DIPLOMAS_NOW_SCHOOLS]    Script Date: 12/1/2016 9:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIPLOMAS_NOW_SCHOOLS](
	[ACCOUNTID] [varchar](50) NULL,
	[DIPLOMAS_NOW] [varchar](10) NULL
) ON [PRIMARY]

GO
