USE [ReportCYData_Prod]
GO
/****** Object:  Table [dbo].[8_RPT_STUDENT_TIME_LINEAR]    Script Date: 12/1/2016 9:27:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[8_RPT_STUDENT_TIME_LINEAR](
	[STUDENT_ID] [int] NOT NULL,
	[PROGRAM_DESC] [varchar](50) NOT NULL,
	[INDICATOR_AREA_DESC] [varchar](50) NOT NULL,
	[DOSAGE_CATEGORY] [varchar](50) NULL,
	[TTL_TIME] [int] NULL,
	[FISCAL_YEAR] [varchar](50) NOT NULL,
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](250) NULL,
	[SITE_NAME] [varchar](250) NULL,
	[SCHOOL_NAME] [varchar](250) NULL,
	[SCHOOL_ID] [varchar](250) NULL
) ON [PRIMARY]

GO
