USE [ReportCYData_Prod]
GO
/****** Object:  StoredProcedure [dbo].[sp_Load_9_RPT_PERFORMANCE_LEVEL_AS_OLD]    Script Date: 12/1/2016 9:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









 


-- =============================================
-- AUTHOR:		Bob Doherty
-- CREATE DATE: 7/1/2015
-- DESCRIPTION:	
-- HISTORY:     Changed code on line 119
--              7/26/16 Changed the TAG code from "AND" to "WHERE" on the link to the incoming @assessment and @datatype
--              8/24/16 Added -  CASE WHEN b.Grade = 'K' THEN '0' ELSE b.Grade END	AS GRADE to account for K being changed to 0 in the norming tables.
-- =============================================
CREATE  PROCEDURE  [dbo].[sp_Load_9_RPT_PERFORMANCE_LEVEL_AS_OLD]
AS
BEGIN


TRUNCATE TABLE [dbo].[STAGE_9_RPT_PERFORMANCE_LEVEL_AS]



SELECT DISTINCT
     		b.CY_StudentID										AS CYSCHOOLHOUSE_STUDENT_ID, 
			b.StudentName										AS STUDENT_NAME, 
			e.Business_Unit										AS SITE_NAME, 
			e.SchoolName										AS SCHOOL_NAME, 
			CASE WHEN b.Grade = 'K' THEN '0' ELSE b.Grade END	AS GRADE ,						 
            CASE WHEN e.Diplomas_Now = 'NO' THEN 0 ELSE 1 END	AS DIPLOMAS_NOW_SCHOOL, 
			d.MarkingPeriod										AS INTERVAL,
			NULL												AS SKILL_ID,
			g.AssessmentName								    AS SKILL_DESCRIPTION,			--	h.AssignmentType
			g.Data_Type_display									AS DATA_TYPE,
			g.Data_Type_Display_2                               AS DATA_TYPE_2,
			g.Data_Type_Display_3								AS DATA_TYPE_3,
			g.Data_Type_Display_4								AS DATA_TYPE_4,
			g.Data_Type_Display_5								AS DATA_TYPE_5,
			g.score												AS SCORE,
			g.score_2											AS SCORE_2,
			g.score_3											AS SCORE_3,
			g.score_4											AS SCORE_4,
			g.score_5											AS SCORE_5,
			NULL 									            AS INDICATOR_DESC, 		        --i.INDICATORAREA					
			f.Date												AS ASSESSMENT_DATE, 
			NULL													AS PERFORMANCE_VALUE,	
			NULL													AS TARGET_SCORE,
			NULL                                                    AS ALPHA_TARGET_SCORE_RANK,
			NULL													AS ALPHA_TARGET_SCORE_RANK_NORM,
            NULL													AS TESTING_GRADE_LEVEL,
			NULL													AS SCORE_RANK, 
			NULL													AS SCORE_RANK_NORM, 
        	NULL													AS SCALE_LOCAL,
			NULL													AS SCALE_NORM, 
			NULL													AS SCALE_NUM_LOCAL,
			NULL													AS SCALE_NUM_NORM, 
			'          '											AS TAG, 
			NULL													AS USED_AS_MID_YEAR_DATA_POINT,
			NULL													AS USED_FOR_SUMMATIVE_REPORTING,
			d.SchoolYear										AS FISCAL_YEAR, 
			e.CYSch_SF_ID										AS CYSCHOOLHOUSE_SCHOOL_ID,
			e.SchoolID											AS SCHOOL_ID,
            NULL													AS SITE_ID,
			g.Created_By										AS CREATED_BY, 
			g.Create_Date										AS ENTRY_DATE, 
			GETDATE()											AS LAST_REFRESH,
			g.assessmentID                                      AS ASSESSMENTID  

INTO  #PRE_STAGE_TABLE_1


FROM         SDW_PROD.dbo.FactAll AS a INNER JOIN
                      SDW_PROD.dbo.DimStudent		AS b ON a.StudentID			= b.StudentID		INNER JOIN
                      SDW_PROD.dbo.DimIndicatorArea	AS c ON a.IndicatorAreaID	= c.IndicatorAreaID INNER JOIN
                      SDW_PROD.dbo.DimGrade			AS d ON a.GradeID			= d.GradeID			INNER JOIN
                      SDW_PROD.dbo.DimSchool		AS e ON a.SchoolID			= e.SchoolID		INNER JOIN
                      SDW_PROD.dbo.DimDate			AS f ON a.DateID			= f.DateID			INNER JOIN
                      SDW_PROD.dbo.DimAssessment	AS g ON a.AssessmentID		= g.AssessmentID	INNER JOIN
                      SDW_PROD.dbo.DimAssignment	AS h ON a.AssignmentID		= h.AssignmentID	INNER JOIN  
					  SDW_PROD.dbo.Dimpreandposttag AS i on a.STUDENTID			= i.STUDENTID	
												        AND    (g.Data_Type_display   = i.DATATYPE 
														     OR g.Data_Type_display_2 = i.DATATYPE 
															 OR g.Data_Type_display_3 = i.DATATYPE
															 OR g.Data_Type_display_4 = i.DATATYPE
															 OR g.Data_Type_display_5 = i.DATATYPE)
												       
															
WHERE    a.AssessmentID <> 1 
AND      i.INDICATORAREA IN ('ELA/Literacy','Math')  
order by CYSCHOOLHOUSE_STUDENT_ID, skill_description


-----UPDATE SPLIT SCHOOL NAME TO REMOVE '%(%-%)%'  -------------------------------------------------------------------------------------------------------------------------------
--ADDED 8-10-2016

UPDATE #PRE_STAGE_TABLE_1 SET
SCHOOL_NAME =  LEFT(school_name, CHARINDEX('(',school_name)-1)
where school_name like '%(%-%)%'




--REMOVE RECORDS WHERE ALL SCORES ARE NULL ------------------------------------------------------------------------------------------------------

			DELETE #PRE_STAGE_TABLE_1 WHERE score is null and score_2 is null and score_3 is null and score_4 is null and score_5 is null

			DELETE #PRE_STAGE_TABLE_1 WHERE score = 'N/A'  and score_2 = 'N/A' and score_3 = 'N/A' and score_4 = 'N/A' and score_5 = 'N/A'

--REMOVE RECORDS WHERE ASSESSMENT_DATE DOES NOT FALL WITHIN THE SCHOOL YEAR-----------------------------------------------------------------------

			DELETE FROM  #PRE_STAGE_TABLE_1 where assessment_date not between '2015-07-01 00:00:00.000' and '2016-06-30 00:00:00.000'

--SELECT RECORDS WHERE ASSESSMENT_DATE FALLS WITHIN THE SCHOOL INTERVALS-----------------------------------------------------------------------

			SELECT * INTO #PRE_STAGE_TABLE_2  
			FROM  #PRE_STAGE_TABLE_1 a INNER JOIN SDW_PROD.dbo.DimSchoolSetup b 
			ON  a.SCHOOL_ID = b.SCHOOLID 
			WHERE a.ASSESSMENT_DATE  Between b.Start_Date and b.End_Date


			/*
			select * from #PRE_STAGE_TABLE_1 a left outer join  #PRE_STAGE_TABLE_2 b on 
			a.cyschoolhouse_student_id = b.cyschoolhouse_student_id
			and a.skill_description = b.skill_description
			and isnull(a.data_type,1) = isnull(b.data_type,1)
			and isnull(a.data_type_2,1) = isnull(b.data_type_2,1)
			and isnull(a.data_type_3,1) = isnull(b.data_type_3,1)
			and isnull(a.data_type_4,1) = isnull(b.data_type_4,1)
			and isnull(a.data_type_5,1) = isnull(b.data_type_5,1)
			AND isnull(a.assessment_Date,1) = isnull(b.assessment_Date,1)
			WHERE  b.assessment_Date is null
			
			
			select * from #PRE_STAGE_TABLE_1 where CYSCHOOLHOUSE_STUDENT_ID = 'CY-85532'
			select * from SDW_PROD.dbo.DimSchoolSetup where schoolID = '119'
			*/

-------REMOVE DUPS -------------------------------------------------------------------'---------------------------------------------------------
--REMOVING ALL RECORDS THAT OCCURR MORE THAN ONCE WITH THE SAME CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION,DATA_TYPE,ASSESSMENT_DATE
--THESE DUPS ARE GENERALLY BAD DATA ENTRY INTO SCHOOLHOUSE OR POSSIBLE BAD DISTRICT DATA AND WILL NEED TO BE FIXED BY THE SITE OR BY
--THE DISTRICT.   
---------------------------------------------------------------------------------------------------------------------------------------



			SELECT 
			CYSCHOOLHOUSE_STUDENT_ID, 
			SKILL_DESCRIPTION, 
			DATA_TYPE, 
			ASSESSMENT_DATE
			INTO #PRE_STAGE_TABLE_DUPES
			FROM #PRE_STAGE_TABLE_2 
			GROUP BY CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION, DATA_TYPE,ASSESSMENT_DATE
			HAVING COUNT(*) > 1

			DELETE #PRE_STAGE_TABLE_2
			FROM #PRE_STAGE_TABLE_2 (nolock) a
			INNER JOIN #PRE_STAGE_TABLE_DUPES (nolock) b ON
			a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
			AND a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
			AND a.DATA_TYPE = b.DATA_TYPE
			AND CAST(a.ASSESSMENT_DATE as date) = CAST(b.ASSESSMENT_DATE as date)


			SELECT * INTO  #PRE_STAGE_TABLE FROM #PRE_STAGE_TABLE_2

 
------------------------------------------------------------------------------------------------------------------------------------
/*



select * from #PRE_STAGE_TABLE_1 where  CYSCHOOLHOUSE_STUDENT_ID = 'CY-92955'

select * from #PRE_STAGE_TABLE_DUPES where  CYSCHOOLHOUSE_STUDENT_ID = 'CY-92955'


select b.*, max(a.AssessmentID) AssessmentID  --MAX assessment date does not always match min score
into    #PRE_STAGE_TABLE_DUPES_Part2
from #PRE_STAGE_TABLE (nolock) a 
inner join #PRE_STAGE_TABLE_DUPES (nolock) b on 
a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
and a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
and a.DATA_TYPE = b.DATA_TYPE
and isnull(a.SCORE, 0) = isnull(b.SCORE, 0)
and isnull(a.SCORE_2, 0) = isnull(b.SCORE_2, 0)
and isnull(a.SCORE_3, 0) = isnull(b.SCORE_3, 0)
and isnull(a.SCORE_4, 0) = isnull(b.SCORE_4, 0)
and isnull(a.SCORE_5, 0) = isnull(b.SCORE_5, 0)
and cast(a.ASSESSMENT_DATE as date) = cast(b.ASSESSMENT_DATE as date)
group by b.CYSCHOOLHOUSE_STUDENT_ID, b.SKILL_DESCRIPTION, b.DATA_TYPE, b.SCORE, b.SCORE_2, b.SCORE_3, 
b.SCORE_4, b.SCORE_5, b.ASSESSMENT_DATE




select a.* 
into #PRE_STAGE_TABLE_RECORDS_TO_KEEP
from #PRE_STAGE_TABLE (nolock) a
inner JOIN #PRE_STAGE_TABLE_DUPES_Part2 (nolock) b ON
a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
and a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
and a.DATA_TYPE = b.DATA_TYPE
and isnull(a.SCORE, 0) = isnull(b.SCORE, 0)
and isnull(a.SCORE_2, 0) = isnull(b.SCORE_2, 0)
and isnull(a.SCORE_3, 0) = isnull(b.SCORE_3, 0)
and isnull(a.SCORE_4, 0) = isnull(b.SCORE_4, 0)
and isnull(a.SCORE_5, 0) = isnull(b.SCORE_5, 0)
and cast(a.ASSESSMENT_DATE as date) = cast(b.ASSESSMENT_DATE as date)
and a.ASSESSMENTID = b.AssessmentID


delete #PRE_STAGE_TABLE
from #PRE_STAGE_TABLE (nolock) a
inner join #PRE_STAGE_TABLE_DUPES_Part2 (nolock) b ON
a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
and a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
and a.DATA_TYPE = b.DATA_TYPE
and isnull(a.SCORE, 0) = isnull(b.SCORE, 0)
and isnull(a.SCORE_2, 0) = isnull(b.SCORE_2, 0)
and isnull(a.SCORE_3, 0) = isnull(b.SCORE_3, 0)
and isnull(a.SCORE_4, 0) = isnull(b.SCORE_4, 0)
and isnull(a.SCORE_5, 0) = isnull(b.SCORE_5, 0)
and cast(a.ASSESSMENT_DATE as date) = cast(b.ASSESSMENT_DATE as date)

insert into #PRE_STAGE_TABLE(CYSCHOOLHOUSE_STUDENT_ID, STUDENT_NAME, SITE_NAME, SCHOOL_NAME, GRADE, 
DIPLOMAS_NOW_SCHOOL, INTERVAL, SKILL_ID, SKILL_DESCRIPTION, DATA_TYPE, 
DATA_TYPE_2, DATA_TYPE_3, DATA_TYPE_4, DATA_TYPE_5, SCORE, SCORE_2, SCORE_3, 
SCORE_4, SCORE_5, INDICATOR_DESC, ASSESSMENT_DATE, PERFORMANCE_VALUE, TARGET_SCORE, 
ALPHA_TARGET_SCORE_RANK, ALPHA_TARGET_SCORE_RANK_NORM, TESTING_GRADE_LEVEL, SCORE_RANK, 
SCORE_RANK_NORM, SCALE_LOCAL, SCALE_NORM, SCALE_NUM_LOCAL, SCALE_NUM_NORM, TAG, 
USED_AS_MID_YEAR_DATA_POINT, USED_FOR_SUMMATIVE_REPORTING, FISCAL_YEAR, 
CYSCHOOLHOUSE_SCHOOL_ID, SCHOOL_ID, SITE_ID, CREATED_BY, ENTRY_DATE, 
LAST_REFRESH, ASSESSMENTID)
select 
CYSCHOOLHOUSE_STUDENT_ID, STUDENT_NAME, SITE_NAME, SCHOOL_NAME, GRADE, 
DIPLOMAS_NOW_SCHOOL, INTERVAL, SKILL_ID, SKILL_DESCRIPTION, DATA_TYPE, 
DATA_TYPE_2, DATA_TYPE_3, DATA_TYPE_4, DATA_TYPE_5, SCORE, SCORE_2, SCORE_3, 
SCORE_4, SCORE_5, INDICATOR_DESC, ASSESSMENT_DATE, PERFORMANCE_VALUE, TARGET_SCORE, 
ALPHA_TARGET_SCORE_RANK, ALPHA_TARGET_SCORE_RANK_NORM, TESTING_GRADE_LEVEL, SCORE_RANK, 
SCORE_RANK_NORM, SCALE_LOCAL, SCALE_NORM, SCALE_NUM_LOCAL, SCALE_NUM_NORM, TAG, 
USED_AS_MID_YEAR_DATA_POINT, USED_FOR_SUMMATIVE_REPORTING, FISCAL_YEAR, 
CYSCHOOLHOUSE_SCHOOL_ID, SCHOOL_ID, SITE_ID, CREATED_BY, ENTRY_DATE, 
LAST_REFRESH, ASSESSMENTID
from #PRE_STAGE_TABLE_RECORDS_TO_KEEP




---------- CODE FOR RECORDS WITH DIFFERENT SCORES ON THE SAME DAY------------------------


select CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION, DATA_TYPE, INDICATOR_DESC, ASSESSMENT_DATE
into  #Temp_1
from #PRE_STAGE_TABLE a  
group by CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION, DATA_TYPE,INDICATOR_DESC,ASSESSMENT_DATE
having count(*) > 1



select a.CYSCHOOLHOUSE_STUDENT_ID, a.SKILL_DESCRIPTION, a.DATA_TYPE, a.INDICATOR_DESC, 
a.ASSESSMENT_DATE, b.ASSESSMENTID, Min(c.Score) Min_Score
into  #Temp_2
from #Temp_1 a
inner join #PRE_STAGE_TABLE b 
on 
    a.CYSCHOOLHOUSE_STUDENT_ID	= b.CYSCHOOLHOUSE_STUDENT_ID
and a.SKILL_DESCRIPTION			= b.SKILL_DESCRIPTION
and a.DATA_TYPE					= b.DATA_TYPE
--and a.INDICATOR_DESC = b.INDICATOR_DESC
and cast(a.ASSESSMENT_DATE as date) = cast(b.ASSESSMENT_DATE as date)
inner join SDW_Prod.dbo.DimAssessment c on b.ASSESSMENTID = c.AssessmentID
group by a.CYSCHOOLHOUSE_STUDENT_ID, a.SKILL_DESCRIPTION, a.DATA_TYPE, a.INDICATOR_DESC,
a.ASSESSMENT_DATE, b.ASSESSMENTID


select CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION, DATA_TYPE, INDICATOR_DESC, ASSESSMENT_DATE, min(a.Min_Score) Min_Score
into #Temp_3
from #Temp_2 a
group by CYSCHOOLHOUSE_STUDENT_ID, SKILL_DESCRIPTION, DATA_TYPE, INDICATOR_DESC, ASSESSMENT_DATE



alter table #Temp_2 add Keep_Record int

update #Temp_2 set Keep_Record = 0

update #Temp_2
set Keep_Record = 1
from #Temp_2 a
inner join #Temp_3 b on 
a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID and
a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION and
a.DATA_TYPE = b.DATA_TYPE and
--a.INDICATOR_DESC = b.INDICATOR_DESC and
cast(a.ASSESSMENT_DATE as date) = cast(b.ASSESSMENT_DATE as date) and
a.Min_Score = b.Min_Score


DELETE #PRE_STAGE_TABLE
FROM #PRE_STAGE_TABLE a 
INNER JOIN #Temp_2 b
ON 
a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID and
a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION and
a.DATA_TYPE = b.DATA_TYPE and
--a.INDICATOR_DESC = b.INDICATOR_DESC and
a.ASSESSMENT_DATE = b.ASSESSMENT_DATE and
a.ASSESSMENTID = b.ASSESSMENTID
where Keep_Record = 0


--REMOVE ANY DUPS CAUSED BY SPLIT SCHOOLS:SELECT ALL FIELDS EXCEPT SCHOOLID   

--IDENTIFY DUPS ------------------------------------------------------------------------------------------------------------
SELECT 
 CYSCHOOLHOUSE_STUDENT_ID,STUDENT_NAME,SITE_NAME,SCHOOL_NAME,GRADE,DIPLOMAS_NOW_SCHOOL,INTERVAL,SKILL_ID,SKILL_DESCRIPTION
,DATA_TYPE,DATA_TYPE_2,DATA_TYPE_3,DATA_TYPE_4,DATA_TYPE_5,SCORE,SCORE_2,SCORE_3,SCORE_4,SCORE_5,INDICATOR_DESC,ASSESSMENT_DATE
,PERFORMANCE_VALUE,TARGET_SCORE,ALPHA_TARGET_SCORE_RANK,ALPHA_TARGET_SCORE_RANK_NORM,TESTING_GRADE_LEVEL,SCORE_RANK,SCORE_RANK_NORM
,SCALE_LOCAL,SCALE_NORM,SCALE_NUM_LOCAL,SCALE_NUM_NORM,TAG,USED_AS_MID_YEAR_DATA_POINT,USED_FOR_SUMMATIVE_REPORTING,FISCAL_YEAR
,CYSCHOOLHOUSE_SCHOOL_ID,SITE_ID,CREATED_BY,ENTRY_DATE,LAST_REFRESH,ASSESSMENTID,count(*) AS count

INTO #DUPS1
FROM #PRE_STAGE_TABLE

GROUP BY CYSCHOOLHOUSE_STUDENT_ID,STUDENT_NAME,SITE_NAME,SCHOOL_NAME,GRADE,DIPLOMAS_NOW_SCHOOL,INTERVAL,SKILL_ID,SKILL_DESCRIPTION
,DATA_TYPE,DATA_TYPE_2,DATA_TYPE_3,DATA_TYPE_4,DATA_TYPE_5,SCORE,SCORE_2,SCORE_3,SCORE_4,SCORE_5,INDICATOR_DESC,ASSESSMENT_DATE
,PERFORMANCE_VALUE,TARGET_SCORE,ALPHA_TARGET_SCORE_RANK,ALPHA_TARGET_SCORE_RANK_NORM,TESTING_GRADE_LEVEL,SCORE_RANK,SCORE_RANK_NORM
,SCALE_LOCAL,SCALE_NORM,SCALE_NUM_LOCAL,SCALE_NUM_NORM,TAG,USED_AS_MID_YEAR_DATA_POINT,USED_FOR_SUMMATIVE_REPORTING,FISCAL_YEAR
,CYSCHOOLHOUSE_SCHOOL_ID,SITE_ID,CREATED_BY,ENTRY_DATE,LAST_REFRESH,ASSESSMENTID

HAVING COUNT(*) > 1



--SELECT DISTINCT RECORDS OF DUPS:NOT INCLUDING SCHOOL_ID WHICH IS DIFFERENT ON THESE DUPS --------------------------

SELECT DISTINCT
 a.CYSCHOOLHOUSE_STUDENT_ID,a.STUDENT_NAME,a.SITE_NAME,a.SCHOOL_NAME,a.GRADE,a.DIPLOMAS_NOW_SCHOOL,a.INTERVAL,a.SKILL_ID,a.SKILL_DESCRIPTION
,a.DATA_TYPE,a.DATA_TYPE_2,a.DATA_TYPE_3,a.DATA_TYPE_4,a.DATA_TYPE_5,a.SCORE,a.SCORE_2,a.SCORE_3,a.SCORE_4,a.SCORE_5,a.INDICATOR_DESC,a.ASSESSMENT_DATE
,a.PERFORMANCE_VALUE,a.TARGET_SCORE,a.ALPHA_TARGET_SCORE_RANK,a.ALPHA_TARGET_SCORE_RANK_NORM,a.TESTING_GRADE_LEVEL,a.SCORE_RANK,a.SCORE_RANK_NORM
,a.SCALE_LOCAL,a.SCALE_NORM,a.SCALE_NUM_LOCAL,a.SCALE_NUM_NORM,a.TAG,a.USED_AS_MID_YEAR_DATA_POINT,a.USED_FOR_SUMMATIVE_REPORTING,a.FISCAL_YEAR
,a.CYSCHOOLHOUSE_SCHOOL_ID,a.SITE_ID,a.CREATED_BY,a.ENTRY_DATE,a.LAST_REFRESH,a.ASSESSMENTID

INTO #FIX_DUPS1  

FROM #PRE_STAGE_TABLE a inner join #DUPS1 b ON a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID 
                                          AND a.ASSESSMENT_DATE          = b.ASSESSMENT_DATE
										  AND a.ENTRY_DATE				 = b.ENTRY_DATE



--DELETE ALL DUPS FROM #PRE_STAGE_TABLE------------------------------------------------------------------------------------------------------

DELETE #PRE_STAGE_TABLE FROM #PRE_STAGE_TABLE a inner join #DUPS1 b ON a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
																  AND a.ASSESSMENT_DATE			 = b.ASSESSMENT_DATE
																  AND a.ENTRY_DATE				 = b.ENTRY_DATE


--INSERT DISTINCT RECORDS INTO #PRE_STAGE_TABLE-----------------------------------------------------------------------------------------------

INSERT INTO #PRE_STAGE_TABLE 
(CYSCHOOLHOUSE_STUDENT_ID,STUDENT_NAME,SITE_NAME,SCHOOL_NAME,GRADE,DIPLOMAS_NOW_SCHOOL,INTERVAL
,SKILL_ID,SKILL_DESCRIPTION,DATA_TYPE,DATA_TYPE_2,DATA_TYPE_3,DATA_TYPE_4,DATA_TYPE_5,SCORE
,SCORE_2,SCORE_3,SCORE_4,SCORE_5,INDICATOR_DESC,ASSESSMENT_DATE,PERFORMANCE_VALUE,TARGET_SCORE
,ALPHA_TARGET_SCORE_RANK,ALPHA_TARGET_SCORE_RANK_NORM,TESTING_GRADE_LEVEL,SCORE_RANK,SCORE_RANK_NORM
,SCALE_LOCAL,SCALE_NORM,SCALE_NUM_LOCAL,SCALE_NUM_NORM,TAG,USED_AS_MID_YEAR_DATA_POINT,USED_FOR_SUMMATIVE_REPORTING
,FISCAL_YEAR,CYSCHOOLHOUSE_SCHOOL_ID,SCHOOL_ID,SITE_ID,CREATED_BY,ENTRY_DATE,LAST_REFRESH,ASSESSMENTID)

SELECT 
 a.CYSCHOOLHOUSE_STUDENT_ID,a.STUDENT_NAME,a.SITE_NAME,a.SCHOOL_NAME,a.GRADE,a.DIPLOMAS_NOW_SCHOOL,a.INTERVAL,a.SKILL_ID,a.SKILL_DESCRIPTION
,a.DATA_TYPE,a.DATA_TYPE_2,a.DATA_TYPE_3,a.DATA_TYPE_4,a.DATA_TYPE_5,a.SCORE,a.SCORE_2,a.SCORE_3,a.SCORE_4,a.SCORE_5,a.INDICATOR_DESC,a.ASSESSMENT_DATE
,a.PERFORMANCE_VALUE,a.TARGET_SCORE,a.ALPHA_TARGET_SCORE_RANK,a.ALPHA_TARGET_SCORE_RANK_NORM,a.TESTING_GRADE_LEVEL,a.SCORE_RANK,a.SCORE_RANK_NORM
,a.SCALE_LOCAL,a.SCALE_NORM,a.SCALE_NUM_LOCAL,a.SCALE_NUM_NORM,a.TAG,a.USED_AS_MID_YEAR_DATA_POINT,a.USED_FOR_SUMMATIVE_REPORTING,a.FISCAL_YEAR
,a.CYSCHOOLHOUSE_SCHOOL_ID,'',a.SITE_ID,a.CREATED_BY,'',a.LAST_REFRESH,''--a.ASSESSMENTID

FROM #FIX_DUPS1 a

*/
-----------------------------------------------------------------------------------------------------------------------------
--INSERT ROWS BASED ON DATA_TYPE AND SCORES. NEED TO CREATE MULTIPLE ROWS FOR SKILL DESCRIPTIONS WITH MULTIPLE SCORES. 
-----------------------------------------------------------------------------------------------------------------------------

-- 1 INSERT FOR DATA_TYPE and SCORE truncate table [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]

INSERT INTO  [STAGE_9_RPT_PERFORMANCE_LEVEL_AS](
	CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
	SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,PERFORMANCE_VALUE,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
	ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
	TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
	ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID)
SELECT 
	CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
	SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,	score,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
	ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
	TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
	ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID

FROM #PRE_STAGE_TABLE WHERE data_type is not null and score is not null  and score <> 'N/A'







-- 2 INSERT FOR DATA_TYPE_2 AND SCORE_2--------------------------------------------------------------------------------------------------------------

INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS](
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,PERFORMANCE_VALUE,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID)
SELECT 
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE_2,	INDICATOR_DESC,	ASSESSMENT_DATE,	score_2,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID

FROM #PRE_STAGE_TABLE WHERE data_type_2 is not null and score_2 is not null and score_2 <> 'N/A'





-- 3 INSERT FOR DATA_TYPE_3 AND SCORE_3--------------------------------------------------------------------------------------------------------------

INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS](
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,PERFORMANCE_VALUE,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID)
SELECT 
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE_3,	INDICATOR_DESC,	ASSESSMENT_DATE,	score_3,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID

FROM #PRE_STAGE_TABLE WHERE data_type_3 is not null and score_3 is not null  and score_3 <> 'N/A'
  
  


-- 4 INSERT FOR DATA_TYPE_4 AND SCORE_4--------------------------------------------------------------------------------------------------------------

INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS](
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,PERFORMANCE_VALUE,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID)
SELECT 
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE_4,	INDICATOR_DESC,	ASSESSMENT_DATE,	score_4,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID

FROM #PRE_STAGE_TABLE WHERE data_type_4 is not null and score_4 is not null and score_4 <> 'N/A'




-- 5 INSERT FOR DATA_TYPE_5 AND SCORE_5--------------------------------------------------------------------------------------------------------------

INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS](
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE,	INDICATOR_DESC,	ASSESSMENT_DATE,PERFORMANCE_VALUE,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID)
SELECT 
CYSCHOOLHOUSE_STUDENT_ID,	STUDENT_NAME,	SITE_NAME,	SCHOOL_NAME,	GRADE,	DIPLOMAS_NOW_SCHOOL,	INTERVAL,	SKILL_ID,	
SKILL_DESCRIPTION,	DATA_TYPE_5,	INDICATOR_DESC,	ASSESSMENT_DATE,	score_5,	TARGET_SCORE,	ALPHA_TARGET_SCORE_RANK,	
ALPHA_TARGET_SCORE_RANK_NORM,	TESTING_GRADE_LEVEL,	SCORE_RANK,	SCORE_RANK_NORM,	SCALE_LOCAL,	SCALE_NORM,	SCALE_NUM_LOCAL,	SCALE_NUM_NORM,	
TAG,	USED_AS_MID_YEAR_DATA_POINT,	USED_FOR_SUMMATIVE_REPORTING,	FISCAL_YEAR,	CYSCHOOLHOUSE_SCHOOL_ID,	SCHOOL_ID,	SITE_ID,	CREATED_BY,	
ENTRY_DATE,	LAST_REFRESH,	ASSESSMENTID
FROM #PRE_STAGE_TABLE WHERE data_type_5 is not null and score_5 is not null and score_5 <> 'N/A'



/*

-- WORK IN PROGRESS##############################################################################################################################


--REMOVE ACTUAL DUPS. THESE ARE DUPS THAT HAVE THE SAME CYSCHOOLHOUSE_STUDENT_ID,SKILL_DESCRIPTION,	DATA_TYPE,ASSESSMENT_DATE,PERFORMANCE_VALUE


--1) FIND DUPS

				SELECT 
				CYSCHOOLHOUSE_STUDENT_ID,SKILL_DESCRIPTION,	DATA_TYPE,ASSESSMENT_DATE,PERFORMANCE_VALUE
				INTO  #NUMERIC_DUPS
				FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]
				WHERE  isnumeric(PERFORMANCE_VALUE) = '1'
				GROUP BY 
				CYSCHOOLHOUSE_STUDENT_ID,SKILL_DESCRIPTION,	DATA_TYPE,ASSESSMENT_DATE,PERFORMANCE_VALUE
				HAVING COUNT(*) > 1


--2) PULL ADDITIONAL FIELDS FOR DUPS, NOT ASSESSMENTID OR ENTRY_DATE

				SELECT DISTINCT
						 b.CYSCHOOLHOUSE_STUDENT_ID
						,b.STUDENT_NAME
						,b.SITE_NAME
						,b.SCHOOL_NAME
						,b.GRADE
						,b.DIPLOMAS_NOW_SCHOOL
						,b.INTERVAL
						,b.SKILL_ID
						,b.SKILL_DESCRIPTION
						,b.DATA_TYPE
						,b.INDICATOR_DESC
						,b.ASSESSMENT_DATE
						,b.PERFORMANCE_VALUE
						,b.TARGET_SCORE
						,b.ALPHA_TARGET_SCORE_RANK
						,b.ALPHA_TARGET_SCORE_RANK_NORM
						,b.TESTING_GRADE_LEVEL
						,b.SCORE_RANK
						,b.SCORE_RANK_NORM
						,b.SCALE_LOCAL
						,b.SCALE_NORM
						,b.SCALE_NUM_LOCAL
						,b.SCALE_NUM_NORM
						,b.TAG
						,b.USED_AS_MID_YEAR_DATA_POINT
						,b.USED_FOR_SUMMATIVE_REPORTING
						,b.FISCAL_YEAR
						,b.CYSCHOOLHOUSE_SCHOOL_ID
						,b.SCHOOL_ID
						,b.SITE_ID
						,b.CREATED_BY
						,b.LAST_REFRESH 
						,'              ' assessmentID
						,'                                 ' Entry_Date
				INTO #NUMERIC_DUPS_WITH_ALL_FIELDS
				FROM #NUMERIC_DUPS a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
												ON  a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
												AND a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
												AND a.DATA_TYPE = b.DATA_TYPE
												AND a.ASSESSMENT_DATE = b.ASSESSMENT_DATE
												AND a.PERFORMANCE_VALUE = b.PERFORMANCE_VALUE



--3) PICK UP ASSESSMENTID

				update #NUMERIC_DUPS_WITH_ALL_FIELDS SET
				assessmentID = b.assessmentID
				
				FROM #NUMERIC_DUPS_WITH_ALL_FIELDS a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
												ON  a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
												AND a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
												AND a.DATA_TYPE = b.DATA_TYPE
												AND a.ASSESSMENT_DATE = b.ASSESSMENT_DATE
												AND a.PERFORMANCE_VALUE = b.PERFORMANCE_VALUE


--4) DELETE DUPS FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS USING #NUMERIC_DUPS

				DELETE STAGE_9_RPT_PERFORMANCE_LEVEL_AS 
		        FROM   STAGE_9_RPT_PERFORMANCE_LEVEL_AS a
				INNER JOIN #NUMERIC_DUPS b 
				ON a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
				AND a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
				AND a.DATA_TYPE = b.DATA_TYPE
				AND a.ASSESSMENT_DATE = b.ASSESSMENT_DATE
				AND a.PERFORMANCE_VALUE = b.PERFORMANCE_VALUE


--5) INSERT RECORDS BACK INTO STAGE_9_RPT_PERFORMANCE_LEVEL_AS FROM #NUMERIC_DUPS_WITH_ALL_FIELDS

      INSERT INTO STAGE_9_RPT_PERFORMANCE_LEVEL_AS( b.CYSCHOOLHOUSE_STUDENT_ID
						,STUDENT_NAME
						,SITE_NAME
						,SCHOOL_NAME
						,GRADE
						,DIPLOMAS_NOW_SCHOOL
						,INTERVAL
						,SKILL_ID
						,SKILL_DESCRIPTION
						,DATA_TYPE
						,INDICATOR_DESC
						,ASSESSMENT_DATE
						,PERFORMANCE_VALUE
						,TARGET_SCORE
						,ALPHA_TARGET_SCORE_RANK
						,ALPHA_TARGET_SCORE_RANK_NORM
						,TESTING_GRADE_LEVEL
						,SCORE_RANK
						,SCORE_RANK_NORM
						,SCALE_LOCAL
						,SCALE_NORM
						,SCALE_NUM_LOCAL
						,SCALE_NUM_NORM
						,TAG
						,USED_AS_MID_YEAR_DATA_POINT
						,USED_FOR_SUMMATIVE_REPORTING
						,FISCAL_YEAR
						,CYSCHOOLHOUSE_SCHOOL_ID
						,SCHOOL_ID
						,SITE_ID
						,CREATED_BY
						,LAST_REFRESH 
						,assessmentID)

	  SELECT  CYSCHOOLHOUSE_STUDENT_ID
						,STUDENT_NAME
						,SITE_NAME
						,SCHOOL_NAME
						,GRADE
						,DIPLOMAS_NOW_SCHOOL
						,INTERVAL
						,SKILL_ID
						,SKILL_DESCRIPTION
						,DATA_TYPE
						,INDICATOR_DESC
						,ASSESSMENT_DATE
						,PERFORMANCE_VALUE
						,TARGET_SCORE
						,ALPHA_TARGET_SCORE_RANK
						,ALPHA_TARGET_SCORE_RANK_NORM
						,TESTING_GRADE_LEVEL
						,SCORE_RANK
						,SCORE_RANK_NORM
						,SCALE_LOCAL
						,SCALE_NORM
						,SCALE_NUM_LOCAL
						,SCALE_NUM_NORM
						,TAG
						,USED_AS_MID_YEAR_DATA_POINT
						,USED_FOR_SUMMATIVE_REPORTING
						,FISCAL_YEAR
						,CYSCHOOLHOUSE_SCHOOL_ID
						,SCHOOL_ID
						,SITE_ID
						,CREATED_BY
						,LAST_REFRESH 
						,assessmentID 
						FROM #NUMERIC_DUPS_WITH_ALL_FIELDS


select * from #NUMERIC_DUPS_WITH_ALL_FIELDS
where CYSCHOOLHOUSE_STUDENT_ID = 'CY-105025'
select * from STAGE_9_RPT_PERFORMANCE_LEVEL_AS where CYSCHOOLHOUSE_STUDENT_ID = 'CY-105025'


select * from STAGE_9_RPT_PERFORMANCE_LEVEL_AS where performance_value = 'c'


select * from #NUMERIC_DUPS_WITH_ALL_FIELDS where CYSCHOOLHOUSE_STUDENT_ID = 'CY-105025'

select * from sdw_prod.dbo.DimAssessment where assessmentID in ('45321','47850')

select * from STAGE_9_RPT_PERFORMANCE_LEVEL_AS where CYSCHOOLHOUSE_STUDENT_ID = 'CY-105183' and data_type = 'X0_to_1000_Scaled_Score__c'

select * from sdw_prod.dbo.factall where studentID = '4129'
select * from sdw_prod.dbo.Dimstudent where cy_studentID = 'CY-105025'


--REMOVE DUPS WITH SAME ASSESSMENT_DATE BUT DIFFERENT GRADE: TAKE THE MIN GRADE


--1) SELECT THE RECORDS WITH MAX PERFORMANCE VALUE 

				SELECT 
				CYSCHOOLHOUSE_STUDENT_ID,SKILL_DESCRIPTION,	DATA_TYPE,ASSESSMENT_DATE, MAX(Performance_value)  as Performance_value
				INTO  #NUMERIC_DUPS_MAX_PV
				FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]
				WHERE  isnumeric(PERFORMANCE_VALUE) = '1'
				GROUP BY 
				CYSCHOOLHOUSE_STUDENT_ID,SKILL_DESCRIPTION,	DATA_TYPE,ASSESSMENT_DATE,Performance_value
				HAVING COUNT(*) > 1

--2) DELETE STAGE_9_RPT_PERFORMANCE_LEVEL_AS FROM #NUMERIC_DUPS_MAX_PV 


				DELETE  [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]  
				FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] a
				INNER JOIN #NUMERIC_DUPS_MAX_PV b	ON  a.CYSCHOOLHOUSE_STUDENT_ID = b.CYSCHOOLHOUSE_STUDENT_ID
													AND a.SKILL_DESCRIPTION = b.SKILL_DESCRIPTION
													AND a.DATA_TYPE = b.DATA_TYPE
													AND a.ASSESSMENT_DATE = b.ASSESSMENT_DATE
													AND a.PERFORMANCE_VALUE = convert(float,b.PERFORMANCE_VALUE) 

				WHERE ISNUMERIC(a.PERFORMANCE_VALUE) = '1' 


--#############################################################################################################################




*/

/*   PERFORMANCE VALUE IS ALREADY PRESENT IN STAGE_9_RPT_PERFORMANCE_LEVEL_AS
-------------------------------------------------------------------------------------------------------------------------------
--UPDATE PERFORMANCE_VALUE
-------------------------------------------------------------------------------------------------------------------------------

UPDATE  [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
PERFORMANCE_VALUE =   i.performance_value
from [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN
ReportCYData_PROD.dbo.[5_RPT_CY_L_SCHOOL_PERFORMANCE]  AS i	ON   a.CYSCHOOLHOUSE_STUDENT_ID = i.CYSCHOOLHOUSE_STUDENT_ID
														AND  a.assessment_date	= i.ASSESSMENT_DATE
														AND  a.skill_description = i.skill_desc
														AND  a.DATA_TYPE  = i.DATA_TYPE


DELETE  FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] WHERE PERFORMANCE_VALUE IS NULL OR PERFORMANCE_VALUE = 'N/A'



-------------------------------------------------------------------------------------------------------------------------------
--SELECT MIN PERFORMANCE_VALUE FOR EACH STUDENT, SKILL_DESC, DATA_TYPE TO REMOVE DUPLICATE ROWS THAT WERE ENTERED INCORRECTLY
--TO CYSCHOOLHOUSE. THIS IS FOR BOTH NUMERIC AND ALPHA SCORES
-------------------------------------------------------------------------------------------------------------------------------
		select 
		CYSCHOOLHOUSE_STUDENT_ID, 
		STUDENT_NAME, 
		SITE_NAME, 
		SCHOOL_NAME, 
		GRADE,						 
		DIPLOMAS_NOW_SCHOOL, 
		INTERVAL,
		SKILL_ID,
		SKILL_DESCRIPTION,			--	h.AssignmentType
		DATA_TYPE,
		INDICATOR_DESC, 		        --i.INDICATORAREA					
		ASSESSMENT_DATE, 
		MIN(convert(float,PERFORMANCE_VALUE)) PERFORMANCE_VALUE,	
		TARGET_SCORE,
		ALPHA_TARGET_SCORE_RANK,
		ALPHA_TARGET_SCORE_RANK_NORM,
		TESTING_GRADE_LEVEL,
		SCORE_RANK, 
		SCORE_RANK_NORM, 
		SCALE_LOCAL,
		SCALE_NORM, 
		SCALE_NUM_LOCAL,
		SCALE_NUM_NORM, 
		TAG, 
		USED_AS_MID_YEAR_DATA_POINT,
		USED_FOR_SUMMATIVE_REPORTING,
		FISCAL_YEAR, 
		CYSCHOOLHOUSE_SCHOOL_ID,
		SCHOOL_ID,
		SITE_ID,
		CREATED_BY, 
		'' ENTRY_DATE, 
		LAST_REFRESH
	--	assessmentID
		INTO  #MIN_PERF_VALUE_NUMERIC
		FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]
		where isnumeric(performance_value) = '1' 
		
		group by CYSCHOOLHOUSE_STUDENT_ID, 
		STUDENT_NAME, 
		SITE_NAME, 
		SCHOOL_NAME, 
		GRADE,						 
		DIPLOMAS_NOW_SCHOOL, 
		INTERVAL,
		SKILL_ID,
		SKILL_DESCRIPTION,			--	h.AssignmentType
		DATA_TYPE,
		INDICATOR_DESC, 		        --i.INDICATORAREA					
		ASSESSMENT_DATE, 
		--PERFORMANCE_VALUE,	
		TARGET_SCORE,
		ALPHA_TARGET_SCORE_RANK,
		ALPHA_TARGET_SCORE_RANK_NORM,
		TESTING_GRADE_LEVEL,
		SCORE_RANK, 
		SCORE_RANK_NORM, 
		SCALE_LOCAL,
		SCALE_NORM, 
		SCALE_NUM_LOCAL,
		SCALE_NUM_NORM, 
		TAG, 
		USED_AS_MID_YEAR_DATA_POINT,
		USED_FOR_SUMMATIVE_REPORTING,
		FISCAL_YEAR, 
		CYSCHOOLHOUSE_SCHOOL_ID,
		SCHOOL_ID,
		SITE_ID,
		CREATED_BY, 
		--ENTRY_DATE, 
		LAST_REFRESH

		


alter table #MIN_PERF_VALUE_NUMERIC add assessmentID varchar(50)

UPDATE #MIN_PERF_VALUE_NUMERIC SET
AssessmentID =  b.AssessmentID
FROM #MIN_PERF_VALUE_NUMERIC a inner join [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] b
ON
	a.CYSCHOOLHOUSE_SCHOOL_ID = b.CYSCHOOLHOUSE_SCHOOL_ID
AND a.student_name = b.student_name
and a.skill_description = b.skill_description
and a.Data_TYpe = b.Data_TYpe
and a.PERFORMANCE_VALUE = convert(float,b.PERFORMANCE_VALUE)
where isnumeric(b.PERFORMANCE_VALUE) = '1'



--ALPHA

select 
		CYSCHOOLHOUSE_STUDENT_ID, 
		STUDENT_NAME, 
		SITE_NAME, 
		SCHOOL_NAME, 
		GRADE,						 
		DIPLOMAS_NOW_SCHOOL, 
		INTERVAL,
		SKILL_ID,
		SKILL_DESCRIPTION,			--	h.AssignmentType
		DATA_TYPE,
		INDICATOR_DESC, 		        --i.INDICATORAREA					
		ASSESSMENT_DATE, 
		MIN(PERFORMANCE_VALUE) PERFORMANCE_VALUE,	
		TARGET_SCORE,
		ALPHA_TARGET_SCORE_RANK,
		ALPHA_TARGET_SCORE_RANK_NORM,
		TESTING_GRADE_LEVEL,
		SCORE_RANK, 
		SCORE_RANK_NORM, 
		SCALE_LOCAL,
		SCALE_NORM, 
		SCALE_NUM_LOCAL,
		SCALE_NUM_NORM, 
		TAG, 
		USED_AS_MID_YEAR_DATA_POINT,
		USED_FOR_SUMMATIVE_REPORTING,
		FISCAL_YEAR, 
		CYSCHOOLHOUSE_SCHOOL_ID,
		SCHOOL_ID,
		SITE_ID,
		CREATED_BY, 
		'' ENTRY_DATE, 
		LAST_REFRESH
	--	assessmentID
		INTO  #MIN_PERF_VALUE_ALPHA
		FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]
		where isnumeric(performance_value) = '0' 
		
		group by CYSCHOOLHOUSE_STUDENT_ID, 
		STUDENT_NAME, 
		SITE_NAME, 
		SCHOOL_NAME, 
		GRADE,						 
		DIPLOMAS_NOW_SCHOOL, 
		INTERVAL,
		SKILL_ID,
		SKILL_DESCRIPTION,			--	h.AssignmentType
		DATA_TYPE,
		INDICATOR_DESC, 		        --i.INDICATORAREA					
		ASSESSMENT_DATE, 
		--PERFORMANCE_VALUE,	
		TARGET_SCORE,
		ALPHA_TARGET_SCORE_RANK,
		ALPHA_TARGET_SCORE_RANK_NORM,
		TESTING_GRADE_LEVEL,
		SCORE_RANK, 
		SCORE_RANK_NORM, 
		SCALE_LOCAL,
		SCALE_NORM, 
		SCALE_NUM_LOCAL,
		SCALE_NUM_NORM, 
		TAG, 
		USED_AS_MID_YEAR_DATA_POINT,
		USED_FOR_SUMMATIVE_REPORTING,
		FISCAL_YEAR, 
		CYSCHOOLHOUSE_SCHOOL_ID,
		SCHOOL_ID,
		SITE_ID,
		CREATED_BY, 
		--ENTRY_DATE, 
		LAST_REFRESH

alter table #MIN_PERF_VALUE_ALPHA add assessmentID varchar(50)


UPDATE #MIN_PERF_VALUE_ALPHA SET
AssessmentID =  b.AssessmentID
FROM #MIN_PERF_VALUE_ALPHA a inner join [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] b
ON
	a.CYSCHOOLHOUSE_SCHOOL_ID = b.CYSCHOOLHOUSE_SCHOOL_ID
AND a.student_name = b.student_name
and a.skill_description = b.skill_description
and a.Data_TYpe = b.Data_TYpe
and a.PERFORMANCE_VALUE = b.PERFORMANCE_VALUE
where isnumeric(b.PERFORMANCE_VALUE) = '0'


		TRUNCATE TABLE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]

		INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS]
		SELECT * FROM #MIN_PERF_VALUE_NUMERIC  where CYSCHOOLHOUSE_STUDENT_ID = 'CY-92955'


		INSERT INTO [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] 
		SELECT * FROM #MIN_PERF_VALUE_ALPHA where CYSCHOOLHOUSE_STUDENT_ID = 'CY-92955'

*/

-------------------------------------------------------------------------------------------------------------------------------
--UPDATE INDICATOR_DESC
-------------------------------------------------------------------------------------------------------------------------------
 UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET
 
 INDICATOR_DESC = CASE WHEN SKILL_DESCRIPTION LIKE '%MATH%' THEN 'MATH' 
                       WHEN SKILL_DESCRIPTION LIKE '%ELA%'    THEN 'ELA/Literacy'
				  ELSE '' 
				  END
FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS



-------------------------------------------------------------------------------------------------------------------------------
--UPDATE INTERVAL
-------------------------------------------------------------------------------------------------------------------------------

UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
INTERVAL =  b.Quarter
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN  SDW_PROD.dbo.DimSchoolSetup b
											ON a.SCHOOL_ID = b.SCHOOLID
WHERE a.ASSESSMENT_DATE between b.Start_Date and b.End_Date 

-------------------------------------------------------------------------------------------------------------------------------
----UPDATE TARGET_SCORE FOR EACH ASSESSMENT THAT HAS A TARGET SCORE. NOT ALL ASSESSMENTS HAVE TARGET SCORES
-------------------------------------------------------------------------------------------------------------------------------


--LEXILE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.LEXILE_STUDENT_TARGET_SCORE													--REMOVED 5-23-16: CASE WHEN b.LEXILE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
											-- AND a.Skill_Description = b.AssessmentName
											-- AND a.DATA_TYPE         = b.Data_Type_Display
											-- AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'Lexile_Score__c'





--TRC_ALPHA_SCALE_STUDENT_TARGET_SCORE 
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE = b.TRC_ALPHA_SCALE_STUDENT_TARGET_SCORE                                           --REMOVED 5-23-16: CASE WHEN b.TRC_ALPHA_SCALE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSE END 
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'TRC_Alpha_Scale_Score__c' 



--AIMSWEB_ELA_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.AIMSWEB_ELA_STUDENT_TARGET_SCORE												--REMOVED 5-23-16: CASE WHEN b.AIMSWEB_ELA_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSE END
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'AIMSweb_ELA_Scale_score'



--AIMSWEB_MATH_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.AIMSWEB_MATH_STUDENT_TARGET_SCORE												--CASE WHEN b.AIMSWEB_MATH_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'AIMSweb_Math_Scale_score__c'



--DIBELS_GLE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.DIBELS_GLE_STUDENT_TARGET_SCORE												--CASE WHEN b.DIBELS_GLE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSE END
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'DIBELS_Grade_Level_Equivalent_Score__c'




--DRA_GLE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.DRA_GLE_STUDENT_TARGET_SCORE													--CASE WHEN b.DRA_GLE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'DRA_Grade_Level_Equivalent_Score__c'



--IRLA_GLE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.IRLA_GLE_STUDENT_TARGET_SCORE										--CASE WHEN b.IRLA_GLE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSE END
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'IRLA_Grade_Level_Equivalent_Score__c'




--QUANTILE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.QUANTILE_STUDENT_TARGET_SCORE													--CASE WHEN b.QUANTILE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSE END
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'Quantile_Score__c'




--STAR_GLE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.STAR_GLE_STUDENT_TARGET_SCORE													--CASE WHEN b.STAR_GLE_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'STAR_Grade_Level_Equivalent_Score__c'



--X0_TO_100_SCALE_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.X0_TO_100_SCALE_STUDENT_TARGET_SCORE														--CASE WHEN b.X0_TO_100_SCALE_STUDENT_TARGET_SCORE  IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'X0_to_100_Scale_Score__c'



--X0_TO_1000_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.X0_TO_1000_STUDENT_TARGET_SCORE											--CASE WHEN b.X0_TO_1000_STUDENT_TARGET_SCORE  IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'X0_to_1000_Scaled_Score__c'



--X0_TO_300_STUDENT_TARGET_SCORE
UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET
TARGET_SCORE =  b.X0_TO_300_STUDENT_TARGET_SCORE												--CASE WHEN  b.X0_TO_300_STUDENT_TARGET_SCORE IN ('N/A','0.0','0') THEN NULL ELSEEND
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID      = b.assessmentID
										--	 AND a.Skill_Description = b.AssessmentName
										--	 AND a.DATA_TYPE         = b.Data_Type_Display
										--	 AND a.Performance_Value = b.Score
WHERE a.DATA_TYPE = 'X0_to_300_Scaled_Score__c'





-------------------------------------------------------------------------------------------------------------------------------
-- TESTING GRADE LEVEL
-------------------------------------------------------------------------------------------------------------------------------

UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET 
TESTING_GRADE_LEVEL = b.TESTING_GRADE_LEVEL
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] AS a INNER JOIN SDW_PROD.dbo.DimAssessment AS b
                                             ON  a.assessmentID = b.assessmentID


-----------------------------------------------------------------------------------------------------------------
--SCALE LOCAL AND SCALE_NUM_LOCAL
-----------------------------------------------------------------------------------------------------------------

UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET  
SCALE_LOCAL = b.[SCALE_LOCAL],
SCALE_NUM_LOCAL =   b.[SCALE_NUM_LOCAL]
FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] a inner join ReportCYData_PROD.dbo.Goals_Sample_Numeric b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.Data_Type         = b.Data_Type

WHERE convert(float,a.Performance_Value) Between b.[PERFORMANCE_VALUE_DISPLAY_MIN] and b.[PERFORMANCE_VALUE_DISPLAY_MAX]
AND   convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX
and isnumeric(a.performance_value) = '1'  



UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET  
	SCALE_LOCAL =		b.[SCALE_LOCAL],
	SCALE_NUM_LOCAL =   b.[SCALE_NUM_LOCAL]
FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join ReportCYData_PROD.dbo.Goals_Sample_Alpha b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.Data_Type         = b.Data_Type

WHERE a.Performance_Value = b.[PERFORMANCE_VALUE_DISPLAY] 
AND convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX




-----------------------------------------------------------------------------------------------------------------
--SCALE_NORM AND SCALE_NUM_NORM
-----------------------------------------------------------------------------------------------------------------

UPDATE [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] SET  
SCALE_NORM		=  b.[SCALE_NORM],
SCALE_NUM_NORM =     b.[SCALE_NUM_NORM] 

FROM [STAGE_9_RPT_PERFORMANCE_LEVEL_AS] a inner join ReportCYData_PROD.dbo.Goals_Sample_Numeric b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.Data_Type         = b.Data_Type

WHERE convert(float,a.Performance_Value) Between b.[PERFORMANCE_VALUE_DISPLAY_MIN] and b.[PERFORMANCE_VALUE_DISPLAY_MAX]
AND convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX
and isnumeric(a.performance_value) = '1'  




UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET  
SCALE_NORM		=  b.[SCALE_NORM],
SCALE_NUM_NORM =   b.[SCALE_NUM_NORM] 
FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join ReportCYData_PROD.dbo.Goals_Sample_Alpha b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.Data_Type         = b.Data_Type

WHERE a.Performance_Value = b.[PERFORMANCE_VALUE_DISPLAY]
AND convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX
and isnumeric(a.performance_value) = '0'



-----------------------------------------------------------------------------------------------------------------
--UPDATE ALPHA_TARGET_SCORE_RANK: GET RANK FOR TARGET SCORE
-----------------------------------------------------------------------------------------------------------------
UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET  

	ALPHA_TARGET_SCORE_RANK = b.SCORE_RANK,
	ALPHA_TARGET_SCORE_RANK_NORM =  b.SCORE_RANK_NORM
FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join ReportCYData_PROD.dbo.Goals_Sample_Alpha b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.data_type         = b.Data_Type
					        
WHERE a.target_score = b.PERFORMANCE_VALUE_DISPLAY
AND convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX

-----------------------------------------------------------------------------------------------------------------
--UPDATE SCORE_RANK: GET RANK FOR PERFORMANCE_VALUE 
-----------------------------------------------------------------------------------------------------------------

UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET  

	SCORE_RANK = b.SCORE_RANK,
	SCORE_RANK_NORM = b.SCORE_RANK_NORM
FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join ReportCYData_PROD.dbo.Goals_Sample_Alpha b
					ON  a.site_name			= b.site
					AND a.school_name		= b.school
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.data_type         = b.Data_Type
					        
WHERE a.PERFORMANCE_VALUE = b.PERFORMANCE_VALUE_DISPLAY
AND convert(datetime,a.ASSESSMENT_DATE) BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX




-----------------------------------------------------------------------------------------------------------------
-- UPDATE "USED_AS_MID_YEAR_POINT"
-----------------------------------------------------------------------------------------------------------------

UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 	
USED_AS_MID_YEAR_DATA_POINT  =  CASE WHEN a.MY_PROXY_Date = b.assessment_Date  THEN '1' ELSE '0' END

from SDW_PROD.dbo.Dimpreandposttag a left outer join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
								ON a.CYSCHOOLHOUSE_ID     = b.CYSCHOOLHOUSE_STUDENT_ID
								AND a.GradeType           = b.SKILL_DESCRIPTION
								AND a.IndicatorArea       = b.Indicator_Desc 
								AND a.DataType			  = b.DATA_TYPE

							
-----------------------------------------------------------------------------------------------------------------
-- USED_FOR_SUMMATIVE_REPORTING
-----------------------------------------------------------------------------------------------------------------

UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET
USED_FOR_SUMMATIVE_REPORTING		=   b.USED_FOR_SUMMATIVE_REPORTING

FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join ReportCYData_PROD.dbo.Goals_Sample_Numeric b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description
					AND a.DATA_TYPE         = b.DATA_TYPE

WHERE ISNUMERIC(a.Performance_Value) = '1'
AND convert(float,a.Performance_Value) Between  b.[PERFORMANCE_VALUE_DISPLAY_MIN] and b.[PERFORMANCE_VALUE_DISPLAY_MAX]
AND a.ASSESSMENT_DATE BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX



UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET  
USED_FOR_SUMMATIVE_REPORTING		=  b.USED_FOR_SUMMATIVE_REPORTING

FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS a inner join  ReportCYData_PROD.dbo.Goals_Sample_Alpha b
					ON  a.site_name			= b.site
					AND a.school_name		= b.School
					AND a.grade				= convert(varchar(250),b.grade)
					AND a.Indicator_Desc	= b.IA
					AND a.skill_description = b.Skill_Description

WHERE a.Performance_Value = b.[PERFORMANCE_VALUE_DISPLAY]
AND a.ASSESSMENT_DATE BETWEEN DATE_RANGE_MIN and DATE_RANGE_MAX



------------------------------------------------------------------------------------------------------------------
--1 UPDATE "PRE" AND "POST" FOR SCENARIO: First_MPEarliest_Value - Final_MPLatest_Value
------------------------------------------------------------------------------------------------------------------
 

--PRE
DECLARE @assessment1 varchar(250);
DECLARE @DataType1 varchar(250);
DECLARE @counter1 Int;
SET @counter1 = '1'

	WHILE @counter1 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment1 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter1) 
		SET @DataType1   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter1) 

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.First_MPEarliest_Value is not NULL 
					AND   a.Final_MPLatest_Value   is not Null 
					AND   a.First_MPEarliest_Date <> a.Final_MPLatest_Date 
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc 
										AND a.DataType              = b.Data_Type
										AND a.First_MPEarliest_Date = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
				 WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment1 AND b.Data_Type = @DataType1) c 
				 on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment1 AND b.Data_Type = @DataType1 and c.CYSCHOOLHOUSE_STUDENT_ID is null 
										
							--			WHERE a.Gradetype			  =  @assessment1
							--			AND   a.DataType              =  @DataType1
							--			AND   b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
							--					  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
							--					  WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment1 AND b.Data_Type = @DataType1)
		SET @counter1 = @counter1 + 1;
	END


	



--POST
DECLARE @assessment2 varchar(250);
DECLARE @DataType2 varchar(250);			--added
DECLARE @counter2 Int;
SET @counter2 = '1'

	WHILE @counter2 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment2 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter2)  
		SET @DataType2   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter2)    --added

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.First_MPEarliest_Value is not NULL 
					AND   a.Final_MPLatest_Value   is not Null 
					AND   a.First_MPEarliest_Date <> a.Final_MPLatest_Date  
					THEN 'Post' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc 
										AND a.DataType              = b.Data_Type
										AND a.Final_MPLatest_Date   = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
				 WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment2 AND b.Data_Type = @DataType2) c 
				 on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment2 AND b.Data_Type = @DataType2 and c.CYSCHOOLHOUSE_STUDENT_ID is null 


									--	WHERE a.Gradetype			=  @assessment2
									--	AND a.DataType              =  @DataType2     --added
									--	AND  b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
									--			  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
									--			  WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment2 AND b.Data_Type = @DataType2)  --added
		
		SET @counter2 = @counter2 + 1;
	END

	

	
	
------------------------------------------------------------------------------------------------------------------
--2 UPDATE "PRE" FOR SCENARIO: Cyr_Earliest_Value - Cyr_MostRecent_Value
------------------------------------------------------------------------------------------------------------------



DECLARE @assessment3 varchar(250);
DECLARE @DataType3 varchar(250);		--added
DECLARE @counter3 Int;
SET @counter3 = '1'

	WHILE @counter3 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment3 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter3) 
		SET @DataType3   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter3)  --added

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET
		TAG =  CASE WHEN  a.Cyr_Earliest_Value   is not NULL 
					AND   a.Cyr_MostRecent_Value is not Null 
					AND   a.Cyr_Earliest_Date <> Cyr_MostRecent_Date  
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.Cyr_Earliest_Date     = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment3 AND b.Data_Type = @DataType3) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment3 AND b.Data_Type = @DataType3 and c.CYSCHOOLHOUSE_STUDENT_ID is null 
										
	
										
					--					WHERE 
					--					a.Gradetype			=  @assessment3
					--					AND a.DataType              =  @DataType3			--added
					--					AND  b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
					--							  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
					--							  WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment3 AND b.Data_Type = @DataType3)  --added
	
		SET @counter3 = @counter3 + 1;
	END


	
	


--POST
DECLARE @assessment4 varchar(250);
DECLARE @DataType4 varchar(250);		--added
DECLARE @counter4 Int;
SET @counter4 = '1'

	WHILE @counter4 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment4 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter4)  
		SET @DataType4   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter4)  --added

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.Cyr_Earliest_Value is not NULL 
					AND   a.Cyr_MostRecent_Value     is not Null 
					AND   a.Cyr_Earliest_Date <> a.Cyr_MostRecent_Date 
					THEN 'Post' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.Cyr_MostRecent_Date  = b.assessment_Date
												left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
				 WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment4 AND b.Data_Type = @DataType4) c 
				 on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment4 AND b.Data_Type = @DataType4 and c.CYSCHOOLHOUSE_STUDENT_ID is null 



								--		WHERE a.Gradetype			=  @assessment4
								--		AND a.DataType              =  @DataType4			--added
								--		AND	b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
								--				  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
								--				  WHERE TAG ='Post' AND b.SKILL_DESCRIPTION = @assessment4 AND b.Data_Type = @DataType4)  --added

		
		
		SET @counter4 = @counter4 + 1;
	END

	

------------------------------------------------------------------------------------------------------------------
--3 UPDATE "PRE" FOR SCENARIO: PrYr_MostRecent_Value  - Final_MPLatest_Value
------------------------------------------------------------------------------------------------------------------										

--PRE
DECLARE @assessment5 varchar(250);
DECLARE @DataType5 varchar(250);		--added     
DECLARE @counter5 Int;
SET @counter5 = '1'

	WHILE @counter5 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment5 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter5) 
		SET @DataType5   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter5)  --added
		
		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.PrYr_MostRecent_Value   is not NULL 
					AND   a.Final_MPLatest_Value    is not Null 
					AND   a.PrYr_MostRecent_Date <> a.Final_MPLatest_Date  
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.PrYr_MostRecent_Date  = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment5 AND b.Data_Type = @DataType5) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment5 AND b.Data_Type = @DataType5 and c.CYSCHOOLHOUSE_STUDENT_ID is null 


								--		WHERE a.Gradetype			= @assessment5
								--		AND a.DataType              = @DataType5			--added
								--		AND b.CYSCHOOLHOUSE_STUDENT_ID  NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
								--				  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
								--				  WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION =  @assessment5 AND b.Data_Type = @DataType5)  --added

		SET @counter5 = @counter5 + 1;
	END



--POST
DECLARE @assessment6 varchar(250);
DECLARE @DataType6 varchar(250);		--added   
DECLARE @counter6 Int;
SET @counter6 = '1'

	WHILE @counter6 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment6 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter6) 
		SET @DataType6   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter6)  --added 

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.PrYr_MostRecent_Value   is not NULL 
					AND   a.Final_MPLatest_Value    is not Null 
					AND   a.PrYr_MostRecent_Date <> a.Final_MPLatest_Date   
					THEN 'Post' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.Final_MPLatest_Date   = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment6 AND b.Data_Type = @DataType6) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment6 AND b.Data_Type = @DataType6 and c.CYSCHOOLHOUSE_STUDENT_ID is null


								--		WHERE a.Gradetype			= @assessment6
								--		AND a.DataType              = @DataType6			--added
								--		AND  b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
								--				  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
								--				  WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment6 AND b.Data_Type = @DataType6)  --added
		SET @counter6 = @counter6 + 1;
	END


	



------------------------------------------------------------------------------------------------------------------
--4 UPDATE "PRE" FOR SCENARIO: PrYr_MostRecent_Value  - Cyr_MostRecent_Value
------------------------------------------------------------------------------------------------------------------	


--PRE
DECLARE @assessment7 varchar(250);
DECLARE @DataType7 varchar(250);		--added     
DECLARE @counter7 Int;
SET @counter7 = '1'

	WHILE @counter7 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment7 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter7) 
		SET @DataType7   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter7)  --added
		
		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.PrYr_MostRecent_Value   is not NULL 
					AND   a.Cyr_MostRecent_Value    is not Null 
					AND   a.PrYr_MostRecent_Date <> a.Cyr_MostRecent_Date  
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.PrYr_MostRecent_Date  = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION = @assessment7 AND b.Data_Type = @DataType7) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment7 AND b.Data_Type = @DataType7 and c.CYSCHOOLHOUSE_STUDENT_ID is null 
		AND a.Cyr_MostRecent_Date > '2015-12-31'			

										--WHERE a.Gradetype			= @assessment7
										--AND   a.DataType            = @DataType7			--added
										--AND b.CYSCHOOLHOUSE_STUDENT_ID  NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
										--										FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
										--										WHERE TAG = 'Pre' AND b.SKILL_DESCRIPTION =  @assessment7 AND b.Data_Type = @DataType7)  --added
		                                --AND a.Cyr_MostRecent_Date > '2015-12-31'
		
		SET @counter7 = @counter7 + 1;
	END
	

--POST
DECLARE @assessment8 varchar(250);
DECLARE @DataType8 varchar(250);		--added   
DECLARE @counter8 Int;
SET @counter8 = '1'

	WHILE @counter8 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment8 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter8) 
		SET @DataType8   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter8)  --added 

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.PrYr_MostRecent_Value   is not NULL 
					AND   a.Cyr_MostRecent_Value    is not Null 
					AND   a.PrYr_MostRecent_Date <> a.Cyr_MostRecent_Date   
					THEN 'Post' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.Cyr_MostRecent_Date   = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment8 AND b.Data_Type = @DataType8) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment8 AND b.Data_Type = @DataType8 and c.CYSCHOOLHOUSE_STUDENT_ID is null 
		AND a.Cyr_MostRecent_Date > '2015-12-31'			



									--	AND a.Gradetype				= @assessment8
									--	WHERE a.DataType              = @DataType8			--added
									--	AND   b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
									--											FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
									--											WHERE TAG = 'Post' AND b.SKILL_DESCRIPTION = @assessment8 AND b.Data_Type = @DataType8)  --added
									--	AND a.Cyr_MostRecent_Date > '2015-12-31'
		
		SET @counter8 = @counter8 + 1;
	END


	


---IF THE PREVIOUS SCENARIOS DON'T ESTABLISH PRE AND POST THEN DEFAULT TO BELOW----------------------------------


--1--------------------------------------------
DECLARE @assessment10 varchar(250);
DECLARE @DataType10 varchar(250);		--added 
DECLARE @counter10 Int;
SET @counter10 = '1'

	WHILE @counter10 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment10 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter10)
		SET @DataType10   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter10)  --added   

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG = CASE WHEN       a.First_MPEarliest_Value is not NULL 
				    	--AND   a.Final_MPLatest_Value   is  Null 
					--    AND   a.First_MPEarliest_Value <>  a.Final_MPLatest_Value   
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc 
										AND a.DataType              = b.Data_Type
										AND a.First_MPEarliest_Date = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG IN ('Post','Pre') AND b.SKILL_DESCRIPTION = @assessment10 AND b.Data_Type = @DataType10) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment10 AND b.Data_Type = @DataType10 and c.CYSCHOOLHOUSE_STUDENT_ID is null 



			--							left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
			--	 WHERE TAG IN ('Pre','Post') AND b.SKILL_DESCRIPTION = @assessment10 AND b.Data_Type = @DataType10) c 
			--	 on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		    --  WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment10 AND b.Data_Type = @DataType10 and c.CYSCHOOLHOUSE_STUDENT_ID is null 


								--		WHERE a.Gradetype			= @assessment10
								--		AND a.DataType              = @DataType10			--added
								--		AND b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
								--				  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
								--				  WHERE TAG IN ('Pre','Post') AND b.SKILL_DESCRIPTION = @assessment10 AND b.Data_Type = @DataType10)  --added
		SET @counter10 = @counter10 + 1;
	END

	



	
	
	
--2----------------------------------------------------

DECLARE @assessment11 varchar(250);
DECLARE @DataType11 varchar(250);		--added 
DECLARE @counter11 Int;
SET @counter11 = '1'

	WHILE @counter11 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment11 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter11) 
		SET @DataType11   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter11)  --added 

		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN  a.Cyr_Earliest_Value   is not NULL 
				--	AND   a.Cyr_MostRecent_Value is  Null 
				--	AND   a.Cyr_Earliest_Value <> a.Cyr_MostRecent_Value 
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.Cyr_Earliest_Date     = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG IN ('Post','Pre') AND b.SKILL_DESCRIPTION = @assessment11 AND b.Data_Type = @DataType11) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment11 AND b.Data_Type = @DataType11 and c.CYSCHOOLHOUSE_STUDENT_ID is null


										--WHERE a.Gradetype				=  @assessment11
										--AND a.DataType              =  @DataType11			--added
										--AND  b.CYSCHOOLHOUSE_STUDENT_ID NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
										--		  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
										--		  WHERE TAG IN ('Pre','Post') AND b.SKILL_DESCRIPTION = @assessment11 AND b.Data_Type = @DataType11)  --added
		
		SET @counter11 = @counter11 + 1;
	END


	



--3------------------------------------------------------------------------------------------------------------------------


DECLARE @assessment12 varchar(250);
DECLARE @DataType12 varchar(250);		--added      
DECLARE @counter12 Int;
SET @counter12 = '1'

	WHILE @counter12 <= (select count(*) from SDW_PROD.[dbo].[AssessmentDescription])
	BEGIN;

		SET @assessment12 = (SELECT assessmentName from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter12) 
		SET @DataType12   = (SELECT DataType       from SDW_PROD.[dbo].[AssessmentDescription] where id_num = @counter12)  --added 
		
		UPDATE STAGE_9_RPT_PERFORMANCE_LEVEL_AS SET 
		TAG =  CASE WHEN   a.PrYr_MostRecent_Value   is not NULL 
				--	 AND   a.Final_MPLatest_Value    is  Null 
				--	 AND   a.PrYr_MostRecent_Value <> a.Final_MPLatest_Value 
					THEN 'Pre' ELSE TAG END
		FROM SDW_PROD.dbo.Dimpreandposttag a inner join STAGE_9_RPT_PERFORMANCE_LEVEL_AS b
										ON  a.CYSCHOOLHOUSE_ID		= b.CYSCHOOLHOUSE_STUDENT_ID
										AND a.GradeType				= b.SKILL_DESCRIPTION
										AND a.IndicatorArea			= b.Indicator_Desc
										AND a.DataType              = b.Data_Type 
										AND a.PrYr_MostRecent_Date  = b.assessment_Date
										left outer join (SELECT CYSCHOOLHOUSE_STUDENT_ID from STAGE_9_RPT_PERFORMANCE_LEVEL_AS (nolock) b 
														 WHERE TAG IN ('Post','Pre') AND b.SKILL_DESCRIPTION = @assessment12 AND b.Data_Type = @DataType12) c 
										on b.CYSCHOOLHOUSE_STUDENT_ID = c.CYSCHOOLHOUSE_STUDENT_ID
		
		WHERE TAG = '' AND b.SKILL_DESCRIPTION = @assessment12 AND b.Data_Type = @DataType12 and c.CYSCHOOLHOUSE_STUDENT_ID is null


							--			WHERE a.Gradetype			= @assessment12
							--			AND a.DataType              =  @DataType12			--added
							--AND  b.CYSCHOOLHOUSE_STUDENT_ID  NOT IN (SELECT CYSCHOOLHOUSE_STUDENT_ID 
		--										  FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS b	
		--										  WHERE TAG IN('Pre','Post') AND b.SKILL_DESCRIPTION =  @assessment12 AND b.Data_Type = @DataType12)  --added
		
		
		SET @counter12 = @counter12 + 1;
	END



-----------------------------------------------------------------------------------------------------------------
--TRUNCATE AND INSERT TO TABLE 9_RPT_PERFORMANCE_LEVEL_AS
-----------------------------------------------------------------------------------------------------------------
	
	TRUNCATE TABLE [9_RPT_PERFORMANCE_LEVEL_AS]

	INSERT INTO [9_RPT_PERFORMANCE_LEVEL_AS]
	SELECT 
		CYSCHOOLHOUSE_STUDENT_ID
		,STUDENT_NAME
		,SITE_NAME
		,SCHOOL_NAME
		,GRADE
		,DIPLOMAS_NOW_SCHOOL
		,INTERVAL
		,SKILL_ID
		,SKILL_DESCRIPTION
		,DATA_TYPE
		,INDICATOR_DESC
		,ASSESSMENT_DATE
		,PERFORMANCE_VALUE
		,TARGET_SCORE
		,ALPHA_TARGET_SCORE_RANK
		,ALPHA_TARGET_SCORE_RANK_NORM
		,TESTING_GRADE_LEVEL
		,SCORE_RANK
		,SCORE_RANK_NORM
		,SCALE_LOCAL
		,SCALE_NORM
		,SCALE_NUM_LOCAL
		,SCALE_NUM_NORM
		,TAG
		,USED_AS_MID_YEAR_DATA_POINT
		,USED_FOR_SUMMATIVE_REPORTING
		,FISCAL_YEAR
		,CYSCHOOLHOUSE_SCHOOL_ID
		,SCHOOL_ID
		,SITE_ID
		,CREATED_BY
		,ENTRY_DATE
		,LAST_REFRESH 

	FROM STAGE_9_RPT_PERFORMANCE_LEVEL_AS

	





	
END

































GO
